{% extends 'base.html' %}

{% block title %}Order Success{% endblock %}

{% block content %}
<div style="text-align:center; margin-top:100px;">
    <h1 style="color:green;">✅ Thank you for your purchase!</h1>
    <p>Your order has been successfully placed.</p>
    <p>A confirmation email and your voucher have been sent to you (if applicable).</p>

    <a href="{% url 'home' %}" 
       style="background-color:darkgreen; color:white; padding:10px 20px; border-radius:6px; text-decoration:none;">
        Return to Home
    </a>
</div>
<br><br>
<br>
<br>
{% endblock %}
